@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 header, body, footer {
   font-family: 'Hannari', serif;
 }

// header {
//   width: 100%;
//   height: 200px;
//   text-align: center;
// }

.pagination {
  justify-content: center;
}

main {
  height: 1800px;
}

